.App{
    text-align: center;
    font-family: Arial, sans-serif;
}

body{
    background-color: black;
}

.task {
    background-color: #242424;
    padding: 8px;
    margin: 8px;
    border: 1px solid #ccc;
}

.to-do-list{
    max-width: 30%;
    margin: 0 auto;
    text-align: center;
    border: 8px solid grey;
    color: white;
    background-color: black;
}

.completed-tasks{
    background-color: #242424;
    padding: 8px;
    margin: 8px;
    border: 1px solid #ccc;
}

.completed-p{
    opacity: 30%;
}
